*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


span{
    font-weight: bold;
}

hr{
    color: gray;
}
h1{
    text-align: center;
    padding: 1rem;
    margin: 0 auto 2rem auto;
    color: grey;

}

h2{
    padding: 0.5rem 0.5rem;
    margin:  0rem 0.75rem;
}


p{
    text-align: justify;
    padding: 1rem;
    line-height: 1.5;
}
.cyan{
    background-color: cyan;
}

.magenta{
    background-color: magenta;
}

.jaune{
    background-color: yellow;
}

.noir{
    background-color: black;
    color: white;
}


/* container */


.allbox{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: center;
    background-color: #ffffff;
    flex-direction: row;
}

.flexbox{
    width: 26rem;
    height: 15rem;
    margin: 30px;
    border: 2px solid black;
}

.flexbox h3{
    text-align: center;
    font-size: 0.80rem;
}
.flexbox p{
    font-size: 0.75rem;
    text-align:justify;
    
}

.date{
    margin: 8rem;
}